<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node JS</title>

    <style>
        body{
            font-family: Arial, sans-serif;
            font-size: 30px;
            background: lightseagreen;
            text-align: center;
            margin: 0;
        }

        nav{
            background: black;
            padding: 10px;

        }
        nav a{
            color: white;
            text-decoration: none;
            margin: 0 20px 20px 0;
            font-size: 25px;
        }
    </style>
</head>

<body>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/service">Services</a>
    <a href="/contact">Contact</a>
</nav>

    <div>
        <h2>404! Page Not Found</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid deleniti exercitationem facilis mollitia porro quo sed voluptatibus. Earum et id nihil omnis reiciendis rerum sequi voluptatibus. Accusantium corporis id inventore iste minima tempore tenetur voluptatum? Autem ducimus ex iure reiciendis!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aperiam atque commodi cupiditate deleniti distinctio dolorum eum facilis hic in inventore labore maiores nesciunt nobis odit quaerat quam, recusandae sapiente sed sit tempore totam ullam unde voluptatem voluptatibus? Accusamus cumque illo ipsam laborum natus nulla perspiciatis repellendus sunt voluptas, voluptatibus!</p>
    </div>

</body>
</html>